<div class="row">
    <div class="col l12 m12 s12">
      <table class="striped projects-table centered">
        <thead class="red white-text">
          <tr>
              <th>Username</th>
              <th>Email</th>
              <th> </th>
              <th> </th>
              <th> </th>
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              {{user.username}}<br>
              <i>{{user.role}}</i>
            </td>
            <td>{{user.email}}</td>
            <td>
              <a class="waves-effect waves-light btn green lighten-2" routerLink="/dashboard/users/admin-view-profile">profile</a>
            </td>
            <td>
              <a class="waves-effect waves-light btn teal" routerLink="/dashboard/projects/admin-view-projects">projects</a>
            </td>
            <td>
              <a class="waves-effect waves-light btn blue" routerLink="/dashboard/teams/admin-view-team">teams</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  