<div class="add-btn-area right">
    <a class="waves-effect waves-light btn teal add-btn" routerLink="/dashboard/tasks">back to tasks list</a>
  </div>
  
  <div class="container project-details center">
    <div class="card">
        <div class="card-action red white-text">
            <p class="center center-align">{{task_title}}</p>
        </div>
        <div class="card-content project-details-content">
            <h6>Task Description</h6>
            <p>{{task_description}}</p>
        </div>
        <div class="card-content project-details-content">
            <h6>Reason for Task</h6>
            <p>{{task_reason}}</p>
        </div>
        <div class="card-content project-details-content">
            <h6>Expected Result</h6>
            <p>{{task_result}}</p>
        </div>
    </div>
</div>