.project-details {
    margin: 5%;
}

.add-btn-area {
    margin: 5% 10%;
}

.add-btn {
    border-radius: 25px;
}

.project-details-content {
    padding: 10%;
}

.project-details-paragraph {
    margin: 3% !important;
}

.explore-col {
    padding-top: 5%;
}

.view-chip {
    cursor: pointer;
}