<form #editProjectForm="ngForm"  (ngSubmit)=editProject(editProjectForm)>
    <div class="card form-card">
      <div class="card-action red white-text">
        <p>New Project</p>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col l12 m12 s12 center new-project-input">
            Project title:
            <div class="input-field inline new-input-field">
              <input id="projects_name" type="text" class="title-input" name="projectname" #projectname="ngModel" [(ngModel)]="project.projectname" placeholder="Enter project name here">
            </div>
          </div>
  
          <div class="col l12 m12 s12 center new-project-input">
            Write about the problems your project aims to tackle:
            <div class="input-field inline new-input-field">
              <textarea class="new-textarea-two" rows="10" cols="30" name="projectproblems" #projectproblems="ngModel" [(ngModel)]="project.projectproblems"></textarea>
            </div>
          </div>
  
          <div class="col l12 m12 s12 center new-project-input">
            What are the specific values and solutions that will result from the project?:
            <div class="input-field inline new-input-field">
              <textarea class="new-textarea-two" rows="10" cols="30" name="projectsolution" #projectsolution="ngModel" [(ngModel)]="project.projectsolution"></textarea>
            </div>
          </div>
  
          <div class="col l12 m12 s12 center new-project-input">
            Give a detailed description of the project:
            <div class="input-field inline new-input-field">
              <textarea class="new-textarea" rows="20" cols="30" name="projectdescription" #projectdescription="ngModel" [(ngModel)]="project.projectdescription"></textarea>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-action">
        <p class="center">
            <button type="submit" class="waves-effect waves-light btn red add-btn">edit project</button>
          
            <a routerLink="/dashboard/projects" class="waves-effect waves-light btn black add-btn">cancel</a>
        </p>
      </div>
    </div>
  </form>
  
  
  <div *ngIf="showSuccessMessage" class="green-text center center-align">
    Project Updated
  </div>
  
  <div *ngIf="serverErrorMessages" class="red-text center center-align">
    {{serverErrorMessages}}
  </div>
  