<div class="row">
  <div class="col l12 m12 s12">
    <div class="add-btn-area right">
      <a routerLink="add-project" class="waves-effect waves-light btn teal add-btn">add new project</a>
    </div>
  </div>

  
  <div class="card horizontal col l4 m4 s12 projects-table" *ngFor="let project of projects">
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title red-text center center-align">{{project.project_name}}</span>
      </div>
      <div class="card-action">
        <p class="center center-align">
          <a class="red-text view-chip center center-align" (click)="viewProject(project)">details</a>
          <a class="red-text view-chip center center-align" (click)=editProject(project)>edit</a>
          <a class="red-text view-chip center center-align" (click)="deleteProject(project)">delete</a>
        </p>
        <p class="center center-align">
          <a class="red-text view-chip" (click)=addTask(project)>add task</a>
          <a class="red-text view-chip" (click)="viewTasks(project)">view tasks</a>
          <a class="red-text view-chip" (click)="viewTeam(project)">team</a>
        </p>
      </div>
    </div>
  </div>
</div>

