
  <div class="row">
    <div class="col l9 m9">
      <div class="dash-view-tabs center">
        <mat-tab-group>
          <mat-tab label="YOUR PROJECTS">
            <div class="card tab-view" *ngFor="let userproject of userprojects">
              <div class="card-content red-text">
                <span class="card-title">{{userproject.project_name}}</span>
                <p class="black-text">progress bar goes here</p>
              </div>
              <div class="card-action">
                <a class="red-text view-chip" (click)="viewUserProject(userproject)">Details</a>
                <a class="view-chip red-text" (click)="viewUserProjectTasks(userproject)">Tasks</a>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="YOUR TASKS">
            <ul class="collection">
              <li class="collection-item" *ngFor="let usertask of usertasks">
                <div>
                    {{usertask.task_title}}<a class="secondary-content red chip white-text view-task-chip" (click)="viewUserTask(usertask)">Task Details</a>
                </div>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="YOUR TEAMS">
            <div class="card tab-view" *ngFor="let userteam of userteams">
              <div class="card-content red-text">
                <span class="card-title">{{userteam.team_name}}</span>
                <p>{{userteam.team_project}}</p>
              </div>
              <div class="card-action">
                <a class=" red-text view-chip" (click)="viewUserTeam(userteam)">Details</a>
                <a class="red-text view-chip" (click)="viewTeamMembers(userteam)">TEAM MEMBERS</a>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="YOUR APPLICATIONS">
            <ul class="collection">
              <li class="collection-item" *ngFor="let userApplication of userApplications">
                <div>
                  {{userApplication.taskTitle}}<a class="secondary-content red chip white-text view-task-chip" (click)="viewApplicationTask(userApplication)">View Task</a>
                </div>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="YOUR DELEGATIONS">
            <ul class="collection">
              <li class="collection-item" *ngFor="let userDelegation of userDelegations">
                <div>
                  {{userDelegation.taskTitle}}<a class="secondary-content red chip white-text view-task-chip" (click)="viewDelegationTask(userDelegation)">View Task</a>
                </div>
              </li>
            </ul>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="col l3 m3 explore-col">
      <ul class="collection">
        <li class="collection-header center center-align"><h5 class="red-text">Explore</h5></li>
        <li class="collection-item">
          <div>
            <a class="center red-text" routerLink="/dashboard/view-every-project">All Projects</a>
            <a href="#!" class="secondary-content red-text">{{allprojectsNumber}}</a></div>
        </li>
        <li class="collection-item">
          <div>
            <a class="center red-text" routerLink="/dashboard/view-every-task">All Tasks</a>
            <a href="#!" class="secondary-content red-text">{{alltasksNumber}}</a>
          </div>
        </li>
        <li class="collection-item">
          <div>
            <a class="center red-text" routerLink="/dashboard/view-every-team">All Teams</a>
            <a href="#!" class="secondary-content red-text">{{allteamsNumber}}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>