.dash-view {
    margin: 5%;
}

.dash-view-tabs {
    margin: 5%;
}

.collection-item.avatar.center-align {
    padding: 0 !important;
}

.title {
    padding-top: 10%;
}

.view-btn {
    margin-top: 10%;
}

.view-chip {
    cursor: pointer;
}

.rounded {
    border-radius: 5px !important;
}

.tab-view {
    margin: 3%;
}

.explore-col {
    padding-top: 5%;
}

.view-task-chip {
    cursor: pointer;
}