<div class="row dash-view">
    <div class="col l4 m4 s12">
      <div class="card-action rounded red white-text">
        <ul class="collection rounded">
          <li class="collection-item avatar center-align red white-text">
            <h5 class="title"><b>All Projects: {{allprojectsNumber}}</b></h5>
          </li>
        </ul>
      </div>
      <div class="view-btn center">
        <a class="btn green center white-text view-chip" routerLink="/dashboard/view-every-project">VIEW ALL PROJECTS</a>
      </div>
    </div>
    <div class="col l4 m4 s12">
      <div class="card-action rounded red white-text">
        <ul class="collection rounded">
          <li class="collection-item avatar center-align red white-text">
            <h5 class="title"><b>All Tasks: {{alltasksNumber}}</b></h5>
          </li>
        </ul>
      </div>
      <div class="view-btn center">
        <a class="btn teal center white-text view-chip" routerLink="/dashboard/view-every-task">VIEW ALL TASKS</a>
      </div>
    </div>
    <div class="col l4 m4 s12">
      <div class="card-action rounded red white-text">
        <ul class="collection rounded">
          <li class="collection-item avatar center-align red white-text">
            <h5 class="title"><b>All Teams: {{allteamsNumber}}</b></h5>
          </li>
        </ul>
      </div>
      <div class="view-btn center">
        <a class="btn green darken-3 center white-text view-chip" routerLink="/dashboard/view-every-team">VIEW ALL TEAMS</a>
      </div>
    </div>
  </div>

  <div class="dash-view-tabs center">
    <mat-tab-group>
      <mat-tab label="YOUR PROJECTS">
        <div class="card tab-view">
          <table class="striped centered">
            <thead class="red white-text">
              <tr>
                <th>Project Name</th>
                <th>Progress</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let userproject of userprojects">
                <td>{{userproject.project_name}}</td>
                <td>progress bar goes here</td>
                <td>
                  <a class="btn blue view-chip white-text" (click)="viewUserProject(userproject)">DETAILS</a>
                </td>
                <td>
                  <a class="btn indigo view-chip white-text" (click)="viewUserProjectTasks(userproject)">VIEW TASKS</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="YOUR TASKS">
          <div class="card tab-view">
              <table class="striped centered">
                <thead class="red white-text">
                  <tr>
                    <th>Task Title</th>
                    <th>Delegated To</th>
                    <th></th>
                  </tr>
                </thead>
    
                <tbody>
                  <tr *ngFor="let usertask of usertasks">
                    <td>{{usertask.task_title}}</td>
                    <td>Delegated personnel here</td>
                    <td>
                      <a class="btn teal view-chip white-text" (click)="viewUserTask(usertask)">DETAILS</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
      </mat-tab>
      <mat-tab label="YOUR TEAMS">
          <div class="card tab-view">
              <table class="striped centered">
                <thead class="red white-text">
                  <tr>
                    <th>Team Name</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
    
                <tbody>
                  <tr *ngFor="let userteam of userteams">
                    <td>{{userteam.team_name}}</td>
                    <td>
                      <a class="btn green view-chip white-text" (click)="viewUserTeam(userteam)">DETAILS</a>
                    </td>
                    <td>
                      <a class="btn green darken-3 view-chip white-text" (click)="viewTeamMembers(userteam)">TEAM MEMBERS</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  