<div class="add-btn-area right">
  <a class="waves-effect waves-light btn teal add-btn" routerLink="/projects">back to projects list</a>
</div>

<div class="container project-details center">
  <div class="card">
        <div class="card-action red white-text">
          <p class="center center-align">{{project_name}}</p>
        </div>
        <div class="card-content project-details-content">
            <h6>Description</h6>
            <p>{{project_description}}</p>
        </div>

        <div class="card-content project-details-content">
            <h6>Problems being tackled</h6>
            <p>{{project_problems}}</p>
        </div>

        <div class="card-content project-details-content">
            <h6>Solutions Proposed</h6>
            <p>{{project_solutions}}</p>
        </div>
    </div>
</div>