<div class="container project-details center">
  <div class="card">
        <div class="card-action red white-text">
          <div class="center center-align">{{project_name}}</div>
        </div>
        <div class="card-content project-details-content">
            <h6>Description</h6>
            <div id="project_description"></div>
        </div>

        <div class="card-content project-details-content">
            <h6>Problems being tackled</h6>
            <div id="project_problems"></div>
        </div>

        <div class="card-content project-details-content">
            <h6>Solutions Proposed</h6>
            <div id="project_solution"></div>
        </div>
    </div>
</div>