<div class="row">
  <div class="col l12 m12 s12">
    <table class="striped projects-table centered">
      <thead class="red white-text">
        <tr>
            <th>Project Name</th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{project.project_name}}</td>
          <td>
            <a class="waves-effect waves-light btn green" (click)="viewProject(project)">details</a>
          </td>
          <td>
            <a class="waves-effect waves-light btn green darken-3" (click)="viewTasks(project)">view tasks</a>
          </td>
          <td>
            <a class="waves-effect waves-light btn blue darken-3" (click)="viewTeam(project)">team</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

