.sidenav-collection {
    position: fixed;
    height: 100%;
    z-index: 10;
    margin-top: 4%;
}

.main-area {
    margin-left: 15% !important;
    margin-top: 4%;
}

.dash-row {
    margin-top: 5%;
}