<ul class="collection red side-collection">
    <li class="collection-item red">
      <h6 class="white-text center center-align">{{username}}</h6>
    </li>
  <li class="collection-item red">
    <a routerLink="/dashboard" class="white-text">Dashboard</a>
  </li>
  <li class="collection-item red white-text">
    <a routerLink="/dashboard/projects" class="white-text">Projects</a>
  </li>
  <li class="collection-item red white-text" *ngIf="isUserAdmin">
    <a routerLink="/dashboard/users" class="white-text">Users</a>
  </li>
  <li class="collection-item red white-text">
    <a routerLink="/dashboard/users/profile" class="white-text">Profile</a>
  </li>
</ul>