<div class="view-area row">
  <div class="card projects-table col l4 m4 s12" *ngFor="let project of projects">
    <div class="card-content red-text">
      <span class="card-title center center-align">{{project.project_name}}</span>
    </div>
    <div class="card-action center center-align">
      <a class="red-text view-chip" (click)="viewProjectDetails(project)">details</a>
      <a class="red-text view-chip" (click)="viewTaskDetails(project)">tasks</a>
      <a class="red-text view-chip"  (click)="viewTeam(project)">team</a>
    </div>
  </div>
</div>
