<div class="content-area">
  <div class="row center">
    <div class="col l6 m6 s12">
      <a class="btn view-btn center teal" routerLink="/dashboard/users/add-profile">add bio</a>
    </div>
    <div class="col l6 m6 s12">
      <a class="btn view-btn center green lighten-2" routerLink="/dashboard/users/edit-profile">edit bio</a>
    </div>
  </div>
</div>


<div class="team-info">
  <div class="card team-info-card">
    <div class="card-action red">
      <h6 class="white-text center">Profile Information</h6>
    </div>
    <div class="card-content center center-align">
      <ul class="collection">
        <li class="collection-item center-align">
            <p class="collection-item-head"><b>Username:</b></p>
            <p>{{profile.username}}</p>
        </li>

        <li class="collection-item center-align">
            <p class="collection-item-head"><b>Full Name:</b></p>
            <p>{{profile.fullname}}</p>
        </li>

        <li class="collection-item center-align">
            <p class="collection-item-head"><b>Address:</b></p>
            <p>{{profile.address}}</p>
        </li>

        <li class="collection-item center-align">
            <p class="collection-item-head"><b>Phone Number:</b></p>
            <p>{{profile.phonenumber}}</p>
        </li>
        <li class="collection-item center-align">
          <p class="collection-item-head"><b>Skills:</b></p>
          <p>{{profile.skills}}</p>
        </li>
        <li class="collection-item center-align">
          <p class="collection-item-head"><b>Social:</b></p>
          <p class="center center-align">
            <a href="#">Instagram</a> | 
            <a href="#">LinkedIn</a> | 
            <a href="#">Facebook</a> | 
            <a href="#">Twitter</a> | 
            <a href="#">Skype</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>