<div class="team-info">
  <div class="card team-info-card">
    <div class="card-action red">
      <h6 class="white-text center">Team Information</h6>
    </div>
    <div class="card-content center center-align">
      <ul class="collection">
        <li class="collection-item center-align">
            <p class="collection-item-head"><b>Team Name:</b></p>
            <p>{{teams.team_name}}</p>
        </li>

        <li class="collection-item center-align">
            <p class="collection-item-head"><b>Team Project:</b></p>
            <p>{{teams.team_project}}</p>
        </li>

        <li class="collection-item center-align">
            <p class="collection-item-head"><b>Team Lead:</b></p>
            <p>{{teams.team_lead}}</p>
        </li>

        <li class="collection-item center-align">
            <p class="collection-item-head"><b>Team Description:</b></p>
            <p>{{teams.team_description}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>