<div class="row">
  <div class="col l12 m12 s12">
    <table class="striped projects-table centered">
      <thead class="red white-text">
        <tr>
            <th>Username</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let applicant of applicants">
          <td>{{applicant.taskApplicant}}</td>
          <td>
            <a class="waves-effect waves-light btn green">profile</a>
          </td>
          <td>
            <a class="waves-effect waves-light btn blue">delegate task</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

