<div class="card">
  <div class="card-action center">
    <span class="center-align">
      <b class="center-align">Task Title: {{taskTitle}}</b>
    </span>
  </div>

  <div class="card-action center">
    <span class="center center-align">
      <b>Applicant</b>: {{taskApplicant}}
    </span>
  </div>

  <div class="card-action center">
    <span class="center center-align">
      <a class="btn green center" *ngIf="taskNotDelegated" (click) ="delegateTask()">delegate</a>
      <a class="btn green center disabled" *ngIf="taskDelegated">delegated</a>
    </span>
  </div>
</div>