<div class="signup-area">
  <div class="card red form-card center">
    <div class="card-action white-text">
      <h6>Login</h6>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col l12 m12 s12">
            <input type="text" id="email" class="input-box red" name="email" [(ngModel)]="email" placeholder="Email">
          </div>
          <div class="col l12 m12 s12">
            <input type="password" id="password" class="input-box red" name="password" [(ngModel)]="password" placeholder="Password">
          </div>
          <div class="col l12 m12 s12">
            <button type="submit" class="waves-effect waves-light btn green" (click)="login()">login</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="showSuccessMessage" class="green-text center center-align">
    Registration Successful
  </div>

  <div *ngIf="serverErrorMessages" class="red-text center center-align">
    {{serverErrorMessages}}
  </div>
</div>
