<div class="row center add-btn-area">
  <div class="col l4 m4 s12 center">
    <a class="btn teal add-btn" routerLink="/dashboard/teams/add-new-team">create team</a>
    <a class="btn red add-btn">disband team</a>
  </div>
  <div class="col l4 m4 s12 center">
    <a class="btn blue add-btn" routerLink="/dashboard/teams/all-teams">view all teams</a>
  </div>
  <div class="col l4 m4 s12 center">
    <a class="btn green add-btn" routerLink="/dashboard/projects">back to projects list</a>
  </div>
</div>