<div class="add-btn-area chip red center white-text">
  {{project_name}}
</div>
  
<div class="card projects-table" *ngFor="let task of tasks">
  <div class="card-content red-text">
    <span class="card-title center center-align">{{task.task_title}}</span>
  </div>
  <div class="card-action center center-align">
    <a class="red-text view-chip" (click)="viewTask(task)">details</a>
    <a class="red-text view-chip" (click)="editTask(task)" *ngIf="isCurrentUser">edit</a>
    <a class="red-text view-chip" (click)="deleteTask(task)" *ngIf="isCurrentUser">delete</a>
  </div>
</div>