<div class="view-area">
    <table class="centered striped">
      <thead>
        <tr class="red white-text">
          <th>Project Name</th>
          <th>Delegated To</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{task.task_title}}</td>
          <td>
            delegated personnel username goes here
          </td>
          <td>
            <a class="btn green" (click)="viewTask(task)">details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>